@import '../../common/colors.scss';

.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    gap: 1rem;

    .form-auth{
        background-color: $cardColor;
        border-radius: 1rem;
        padding: 1rem;
    }

    .form-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;


        .form-input{
            border: none;
            outline: none;
            background-color: $inputColor;
            padding: 20px;
            flex: 1;
        }

        .flow{
            display: flex;
            gap: 1rem;

            span:hover{
                cursor: pointer;
                color: #a0a0a0;
            }
        }
    }

    .button{
        color: white;
        border: none;
        border-radius: 0.5rem;
        background: $buttonBg;
        transition: all 100ms ease-out ;
        width: 100%;
        height: 2.5rem;
        align-self: flex-end
    }

    .button:hover{
        cursor: pointer;
        color: $orange;
        background: transparent;
        border: 2px solid $orange;
    }

    .button:disabled{
        background: silver;
        pointer-events: none;
    }
}