@import '../../../../common/colors.scss';

.container-post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $cardColor;
    border-radius: 1rem;
    gap: 1rem;

    .image-post{
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .reaction-post{
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
    }
}