@import "./common/colors.scss";

.App{
  overflow: hidden;
  color: $black;
  background: #f3f3f3;
  padding: 1rem 1rem;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}



// ::-webkit-scrollbar{
//   display: none;
// }
